* {
  margin: 0;
  padding: 0;
  font-family: 'Cairo';
}

body {
  background-color: #edd8d0;
  color: #333;
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

/* headeer */
.header {
  background-color: #d1acaa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12.8px 16px;
}
.logo {
  display: flex;
  gap: 10px;
}

.logo img {
  width: 70px;
  height: 70px;
  margin-left: 20px;
}

.logo h2 {
  color: #444444;
}

.logo p {

  color: #444444;
}

/*transfer menu */
.nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav a {
  color: #555;
  font-weight: 600;
  padding: 8px 14px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.nav a:hover {
  background-color: #d09691;
}

/* --- cart --- */
#cart-mol {
  display: none;    /* to hide the checkbox*/
}

#cart-page {
  position: fixed; /*The element holds in place means that even if you scroll, the element will remain stationary.*/
  top: 0;       /*Make it start from the top right (top right corner of the page)*/
  right: 0;
  width: 30%;
  height: 100%;
  background-color: #edd8d0;
  padding: 20px;
  transform: translateX(100%);   /*Moves the entire element on the X-axis (right) at 100% of its width→ which means that the screen is hidden from the right side.*/
  transition: .3s;/*Any change to properties (e.g. transform) will be streamlined within 0.3 seconds.*/
  overflow: auto;/*If the internal content is longer than the screen, it adds automatic scrolling.*/
  z-index: 20;   /*Clears the item above the other items (priority by width).*/
}

/*يعني الصفحة (السلة) مخفية على يمين الشاشة.
لما المستخدم يضغط على الزر (اللي متحكم فيه هو الـ checkbox #cart-mol) ويتفعّل:*/
#cart-mol:checked~#cart-page {
  transform: translateX(0);
}

.cart {
  cursor: pointer;
  position: relative;   /*  It is considered a reference for the selectors that are in it absolute*/
}

.cart-count {
  background-color: #ff4b4b;
  color: #fff;
  font-size: 10px;
  padding: 1px 6px;
  border-radius: 50%;
  position: absolute;    /* The meter is mounted on top of the basket**/
  top: -6px;     /*Moves the item up 6px outside the basket boundary.*/
  right: -8px;   /*Move it right 8px outside the basket boundary.*/
}
.btn {
  width: 50%;
  padding: 10px;
  background: #d1acaa;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 12px;
}

.btn:hover {
  background: rgb(232, 161, 143);
}

.image{
  background: url('photo.jpg') no-repeat center center/cover;  /*It specifies the background image,
   prevents the image from repeating, centers it within the element, and covers the entire element with the image. */
  position: relative;
  height: 400px;
  color: white;
  padding: 60px 20px;
  text-align: center;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 0px 5px 10px rgb(93, 94, 94);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(110, 110, 110, 0.5);
  /* Transparent dark layer for contrast*/
  z-index: 1;/* appear under the greater value */
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.image-text h2 {
  position: relative;
  font-size: 30px;
  margin-bottom: 10px;
  color: rgb(2, 20, 137);
  z-index: 2; 
}

.image-text p {
  position: relative;
  z-index: 2;
  font-size: 20px;
  margin-bottom: 20px;

}

.welcome {
  position: relative;
  z-index: 2;
}

/* الأقسام */
.categories {
  width: 60%;
  margin: 40px auto; /* 40px from top and bottom , auto from left and right*/
  text-align: center;
}

.categories h2 {
  color: rgb(2, 20, 137);
  margin-bottom: 5px;
}

.categories p {
  margin-bottom: 25px;
  color: #555;
  font-size: 20px;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));  /*Try to create as many
   columns as possible that fit the width of the container.*/
  gap: 20px;
}

.category {
  background-color: #d4b5b3;
  border-radius: 10px;
  padding: 20px 10px;
  font-size: 15px;
  cursor: pointer;
}

.category:hover {
  transform: translateY(-5px);  /*The element moves vertically up by 5 pixels.*/
  border: 2px solid #ae8075;
  background-color: #e5cecd;
}

.category h4 {
  margin-top: 10px;
  color: rgb(2, 20, 137);
  font-weight: 700;
  font-size: 20px;
}

/* المميزات */
.features {
  width: 80%;
  margin: 40px auto 60px auto;
  padding: 0 16px;
  text-align: center;
}

.features h1 {
  color: rgb(2, 20, 137);
  margin-bottom: 25px;
  font-size: 20px;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 10px;
}


.feature {
  width: 100px;
  height: 90px;
  background-color: #fafafa;
  padding: 20px 10px;
  border-radius: 50%;
  cursor: default;
}

.feature h6 {
  margin-top: 10px;
  color: rgb(2, 20, 137);
  font-weight: 700;
  font-size: 17px;
}

/* الفوتر */
.footer {
  background-color: #d1acaa;
  color: #555;
  text-align: center;
  padding: 15px 10px;
  margin-top: auto;   /* footer stil in the bottom of the page*/
}
/* --- نافذة التأكيد --- */
#confirm-toggle {
  display: none;
}

.confirm-box {
  position: fixed;/*The element holds in place relative to the browser window, even when scrolling it stays in the same place*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex; /*Makes its content use the Flexbox system*/
  align-items: center; /*Vertically centered content*/
  justify-content: center; /*Center content horizontally*/
  background: rgba(0, 0, 0, .4);
  opacity: 0; /*Initially the element is fully transparent (invisible)*/
  pointer-events: none; /*Prevents interaction with the item if it is hidden*/
  transition: .3s;
  z-index: 30;/*Makes it above the rest of the elements on the page*/
}

#confirm-toggle:checked+.confirm-box {
  opacity: 1;/*Makes the box visible*/
  pointer-events: auto;/*Allows interaction with the box (e.g. clicking)*/
}

.confirm-content {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

.yes,
.no {
  margin: 5px;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;/*When you hover the button, the cursor turns into a hand*/
}

.yes {
  background: green;
  color: #fff;
}

.no {
  background: red;
  color: #fff;
}

/* المنتجات */
.page-content {
  width: 60%;
  margin: 20px auto;
  padding: 0 16px 48px 16px;
}

.page-content h2 {
  margin-bottom: 8px;
  color: rgb(2, 20, 137);
  font-size: 30px;
}

.page-content p {
  margin-bottom: 25px;
  font-size: 20px;
  color: #1a1a1a;
}

/* شبكة المنتجات */
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /*Try to create as many
   columns as possible that fit the width of the container.*/
  gap: 25px;
}

.product {
  border: 2px solid #ae8075;
  border-radius: 10px;
  overflow: hidden;/*Hide any piece of content that exceeds the boundaries of the element*/
  background-color: #fafafa;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.product:hover {
  transform: translateY(-5px);/*Move up by 5 px (negative value = up, positive = down).*/
}

.product img {
  width: 100%;
  object-fit: cover;/*Fills the container completely*/
}

.product h4 {
  margin: 10px 0 5px;
  color: rgb(2, 20, 137);
  font-weight: 700;
  font-size: 18px;
}

.product p {
  margin-bottom: 5px;
  font-weight: 600;
  color: #336990;
}


/*  Media Queries */

/* large screen  */
@media screen and (min-width: 1025px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* medium screen*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .nav {
    display: none;
  }
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* small screen (mobile)*/
@media screen and (max-width: 767px) {

  .nav {
    display: none;
  }

  .products-grid {
    grid-template-columns: 1fr;
  }

  .btn {
    width: 70%;
  }
 .feature{
  margin: auto;
 }
}
